/*
Blaster Template
http://www.templatemo.com/tm-472-blaster
*/

#dropArea {
  border: 2px dashed #ccc;
  text-align: center;
  height: 33vh;
  width: 70%;
  margin: 20px auto 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#fileContent {
  margin-top: 20px;
  white-space: pre-wrap;
}

.big-icon {
  font-size: 80px; 
  color: #333; 
}

.card-body:hover {
  opacity: 0.8; /* 변경하고자 하는 불투명도 값 (0.8은 80% 불투명) */
}

body
{
  background-color: #e0f0e3;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	position: relative;
}

html,body {
	width: 100%;
	overflow-x: hidden;
}
